<app-mostrar-errores [errores]="errores"></app-mostrar-errores>

<form (submit)="guardarCambios()" [formGroup]="form">
    
    <mat-form-field appearance="outline">
        <mat-label>Hora de salida*</mat-label>
        <input formControlName="horaSalida" matInput />
        <mat-error *ngIf="form.invalid">{{obetenerErrorCampoNombre()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Minuto de salida*</mat-label>
        <input formControlName="minutoSalida" matInput />
        <mat-error *ngIf="form.invalid">{{obetenerErrorCampoNombre2()}}</mat-error>
    </mat-form-field>

    <div>
        <button mat-flat-button color="primary" [disabled]="form.invalid">
            Guardar Cambios
        </button>
        <a mat-stroked-button routerLink="/horarios">
            Cancelar
        </a>
    </div>
</form>