<app-mostrar-errores [errores]="errores"></app-mostrar-errores>

<form (submit)="guardarCambios()" [formGroup]="form">
    
    <mat-form-field appearance="outline">
        <mat-label>Origen*</mat-label>
        <mat-select formControlName="origen">
            <mat-option *ngFor="let origen of departamentos" [value]="origen.value">{{origen.nombreDep}}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.invalid">Seleccione un Origen</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Destino*</mat-label>
        <mat-select formControlName="destino">
            <mat-option *ngFor="let destino of departamentos" [value]="destino.value">{{destino.nombreDep}}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.invalid">Seleccione un Destino</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Costo Ruta*</mat-label>
        <input formControlName="costoRuta" matInput>
        <mat-error *ngIf="form.invalid">{{obetenerErrorCampoNombre()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Duracion de Viaje Aproximado*</mat-label>
        <input formControlName="duraViaAprox" matInput>
        <mat-error *ngIf="form.invalid">{{obetenerErrorCampoNombre2()}}</mat-error>
    </mat-form-field>

  
    <div>
        <button mat-flat-button color="primary" [disabled]="form.invalid">
            Guardar Cambios
        </button>
        <a mat-stroked-button routerLink="/rutas">
            Cancelar
        </a>
    </div>
</form>

